<h1>Products#index</h1>

<br>
<%= form_tag(products_index_path) do %>
  <%= label_tag :buscador %>
  <%= text_field_tag :buscador, nil, placeholder: "Buscar nombre" %>
  <%= label_tag :filtro_precio %>
  <%= select_tag :filtro_precio, options_for_select([ "Todos","0..5000", "5001..10000", "10001..+" ], "Todos") %>
  <%= submit_tag "Buscar" %>
<% end -%>



<br><br>

<table>
  <thead>
    <th>Name</th>
    <th>Price</th>
    <th>Category</th>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.category.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
